
@use "styles/main/_main.scss";
@use "styles/map/_main.css.map.scss";

h1 h2 h3 p button{
font-family:fantasy;

}

.menu{ animation: bounceInDown 1s ease forwards;
  animation-delay: 2s;
}

.home .aboutUs .contactUs {
 
  transition: transform 0.2s;
}

.home .aboutUs .contactUs:hover {
  transform: translateY(20px);

}

.logo{
  animation: itrotates 2s linear infinite;
}



@keyframes itrotates {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.lemondrop, .threetails, .paperplane, .handson{
  transition:all 0.2s;
&:hover{
  transform: scale(1.05);
  box-shadow: 0px 4px 25px 11px white;
  
}
 animation:slide-up 1s 0.7s backwards;

}

.lemondrop .threetails{animation:slide-up 1s 0.7s backwards;

}

.paperplane .handson{animation:slide-up 1s 1.2s backwards;
}


@keyframes slide-up{
  0%{
    opacity:0;
    transfrom:translateY(25px);

  }

  100%{opacity:1;
    transform:translateY(0);

  }
}


@keyframes fade-in{
  0%{opacity:0;
    transfrom:scale(0.5);
  }

  100%{opacity:1;
    transform:scale(1);

  }
}

h1{animation:fade-in 0.7s;

}
