
@use "styles/main/_main.scss";
@use "styles/map/_main.css.map.scss";

h1 h2 h3 p button{
font-family:fantasy;

}

.menu{ animation: bounceInDown 1s ease forwards;
  animation-delay: 2s;
}

.home .aboutUs .contactUs {
 
  transition: transform 0.2s;
}

.home .aboutUs .contactUs:hover {
  transform: translateY(20px);

}

.logo{
  animation: itrotates 2s linear infinite;
}



@keyframes itrotates {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
