
h1{font-family: fantasy;
   text-align: center;
   color: #ff69b4;
   font-size: 80px;
   }
   h2{font-family: fantasy;
    text-align: center;
    color: white;
    font-size: 50px;
   }

   h3{font-family: fantasy;
    text-align: center;
    color: white;
    font-size:35px;
    transform: translateY(20px);
  transition: transform 0.2s;
   }
   p{font-family:fantasy;
    text-align: center;
    color: white;
    font-size:30px;
   }

   button{  font-family: fantasy;
    background-color: #ff69b4;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
    align-content: center;
   }

   img{
    display:flexbox;
    display:center;
    width: 170px;
    height: 200px;
    align-items:center;
    border-radius: 12px;
    margin:auto;
   }

   #container{ 
    width:90%;
    height:5000px;
    margin: auto;
    border-radius: 12px;
    background-color: #ff1493;
    align-items: center;

   }

  button .menu{ animation: bounceInDown 1s ease forwards;
  animation-delay: 2s;
}

.logo{
  width:150px;
  height:100px;
  display:flex;
  margin:auto;
  animation: itrotates 2s linear infinite;
}


.home .aboutUs .contactUs {
 
  transition: transform 0.2s;
}

.home .aboutUs .contactUs:hover {
  transform: translateY(20px);

}



@keyframes itrotates {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
